apiVersion: v1
kind: Secret
metadata:
  name: ome-env
type: Opaque
stringData:
  AWS_DEFAULT_REGION: ap-south-1
  AWS_ACCESS_KEY_ID: xxxxxx
  AWS_SECRET_ACCESS_KEY: xxxxxxxxxxxxx
  # you can add more env variable here as you required

